# Value overrides for the deployment to the following host:
hosts:
  - "unified-auctions.makerdao.com"

ingress:
  isCertManagerActivated: false

frontend:
  deployment:
    # the frontend bakes in environment variables that need to be changed for makerdao,
    # so we built a separate image just for that
    image: "frontend-makerdao"

botTwitter:
  secretChamberPath: "auction-ui/production.auction-ui.k8s.sidestream.tech/bot-twitter"
