# Default values for auction-ui.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
hosts: null

images:
  secretName: "sidestream-github"

awsChamberAccountSecretName: "sidestream-tech-chamber-read-secret"
repoPrefix: "ghcr.io/sidestream-tech/unified-auctions-ui/"

frontend:
  name: "frontend"
  containerPort: 80
  deployment:
    tag: null
    image: "frontend"
    pullPolicy: "IfNotPresent"

botTwitter:
  name: "bot-twitter"
  # AWS SSM path for chamber to read secrets for the pods from, e.g., `auction-ui/staging/bot`
  secretChamberPath:
  deployment:
    tag: null
    image: "bot-twitter"
    pullPolicy: "IfNotPresent"

ingress:
  class: nginx
  isCertManagerActivated: false
  tls: null
  contentCache:
    infuraKey: null
    cacheValidDuration: "10m"
